*{
    box-sizing: border-box;
}

body{
    margin: 0%;
    padding: 0%;
}

a{
    text-decoration: none;
    color: black;
}

.head__name{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #fff;
    align-items: center;
    justify-content: space-around;
}

.head__name__logo{
display: flex;
width: 78px;
height: 40px;
margin-left: -4%;
}

.head__name__logo__navigation{
    display: flex;
}
.head__name__logo__navigation dl dd{
    display:inline;
}

.subtitle{
   display: flex;
   justify-content:center;
   margin-top: 9%;
   flex-flow: column; 
   align-items:center;
}

.subtitle__logo{
    display: flex;
    width: 55%;
    margin-left: 4%;
}

.subtitle__logo__description{
    display: flex;
    max-width: 55%;
    font-size: 150%;
    margin-left: 4%;
}

.main__block{
    display: flex;
    width: 100%;
    height: 1392px;
    margin-top: 113px;
    background-color: #eeededc1;;
}

.child_1{
    display: flex;
    height: 553px;
    width: 507px;
    background-color: aquamarine;
    flex-wrap: wrap;
}

.main__block__parent_1{
    display: flex;
    width: 50.5%;
    height: 1194px;
    background-color: rgba(144, 144, 199, 0.608);
    margin: auto;
    flex-wrap: wrap;
}
.child_1__mountains{
    width: 100%;
    height: 51.5%;
}

.child_1__mountains__text{
    display: flex;
    padding: 0% 3%;
    justify-content: center;
    flex-flow: column;
}

.travel{
    padding: 0%;
    margin: 0% 0% 1% 0%;
    font-family: 'Poppins';
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400;
    color: #353732;
}
.travel__header {
    padding: 0%;
    margin: 1% 0%;
    font-family: 'Palatino Linotype';
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    color: #45525B;
}
.travel__header__description{
    margin: 1% 0%;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #45525B;
}

.travel__header__description__footer{
    margin: 14% 0% 1% 0%;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    color: #45525B;
}


.main__block__parent__child_2{
    display: flex;
    flex-flow: column;
    Width: 245px;/*31.8%*/
    height: 258px;/*23.8%;*/
    background-color: #a3b5c2;
    margin-left: 1%;
}

.main__block__parent__child_2__rock-climbing{
    Width:243px;
   /* Height:137px;*/
}




.main__block__parent__child_3{
    display: flex;
    flex-flow: column;
    margin-top: 55px;
    /*width: 245px;
    height: 279px;*/
    background-color: rgb(108, 184, 88);
}
.main__block__parent__child_2__text{
    display: flex;
    padding: 0% 3%;
    justify-content: center;
    flex-flow: column;
}

.Exercise{
    font-family: 'Poppins';
    padding: 0%;
    margin: 0% 0% 1% 0%;
font-weight: 400;
font-size: 12px;
line-height: 12px;
letter-spacing: 2px;
text-transform: uppercase;
color: #353732;
}

.Exercise__climbing{
    font-family: 'Palatino Linotype';
    padding: 0%;
    margin: 1% 0%;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #45525B;
}

.Exercise__climbing__Date{
    font-family: 'Georgia';
    margin: 14% 0% 1% 0%;
font-weight: 400;
font-size: 11px;
line-height: 17px;
color: #45525B;

}